<VirtualHost *:{{ http_port }}>
    ServerAdmin webmaster@localhost
    ServerName {{ http_host }}
    ServerAlias www.{{ http_host }}
    DocumentRoot /var/www/{{ app_root_dir}}/public


    <Directory /var/www/{{ app_root_dir}}/public>
         Options Indexes FollowSymLinks
         AllowOverride All
         Require all granted
     </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>





# <VirtualHost *:{{https_port}}>
#     ServerAdmin webmaster@localhost

#     DocumentRoot /var/www/{{ app_root_dir }}/public

#     ErrorLog ${APACHE_LOG_DIR}/error.log

#     CustomLog ${APACHE_LOG_DIR}/access.log combined

#     SSLEngine on

#     SSLCertificateFile /etc/apache2/certs/apache.crt

#     SSLCertificateKeyFile /etc/apache2/certs/apache.key

# </VirtualHost>